
tickerData/F_AD.txt
tickerData/F_AE.txt
tickerData/F_AH.txt
tickerData/F_AX.txt
tickerData/F_BO.txt
tickerData/F_BP.txt
tickerData/F_C.txt
tickerData/F_CA.txt
tickerData/F_CD.txt
tickerData/F_CF.txt
tickerData/F_DL.txt
tickerData/F_DM.txt
tickerData/F_DT.txt
tickerData/F_DX.txt
tickerData/F_EB.txt
tickerData/F_EC.txt
tickerData/F_ED.txt
tickerData/F_F.txt
tickerData/F_FC.txt
tickerData/F_FL.txt
tickerData/F_FM.txt
tickerData/F_FP.txt
tickerData/F_FV.txt
tickerData/F_FY.txt
tickerData/F_GC.txt
tickerData/F_GD.txt
tickerData/F_GS.txt
tickerData/F_GX.txt
tickerData/F_JY.txt
tickerData/F_LU.txt
tickerData/F_LX.txt
tickerData/F_MD.txt
tickerData/F_MP.txt
tickerData/F_ND.txt
tickerData/F_PQ.txt
tickerData/F_RF.txt
tickerData/F_RP.txt
tickerData/F_RR.txt
tickerData/F_RY.txt
tickerData/F_SF.txt
tickerData/F_SS.txt
tickerData/F_SX.txt
tickerData/F_TU.txt
tickerData/F_TY.txt
tickerData/F_UB.txt
tickerData/F_US.txt
tickerData/F_UZ.txt
tickerData/F_XX.txt
tickerData/F_YM.txt
tickerData/F_ZQ.txt
tickerData/USA_BC.txt
tickerData/USA_BI.txt
tickerData/USA_BOT.txt
tickerData/USA_CCPI.txt
tickerData/USA_CCR.txt
tickerData/USA_CF.txt
tickerData/USA_CFNAI.txt
tickerData/USA_CINF.txt
tickerData/USA_CP.txt
tickerData/USA_CPI.txt
tickerData/USA_CPIC.txt
tickerData/USA_CPICM.txt
tickerData/USA_CU.txt
tickerData/USA_DUR.txt
tickerData/USA_DURET.txt
tickerData/USA_EXPX.txt
tickerData/USA_EXVOL.txt
tickerData/USA_FBI.txt
tickerData/USA_FRET.txt
tickerData/USA_GBVL.txt
tickerData/USA_GPAY.txt
tickerData/USA_HI.txt
tickerData/USA_IMPX.txt
tickerData/USA_IMVOL.txt
tickerData/USA_IP.txt
tickerData/USA_IPMOM.txt
tickerData/USA_LEI.txt
tickerData/USA_LFPR.txt
tickerData/USA_MP.txt
tickerData/USA_MPAY.txt
tickerData/USA_NAHB.txt
tickerData/USA_NFIB.txt
tickerData/USA_NFP.txt
tickerData/USA_NLTTF.txt
tickerData/USA_NPP.txt
tickerData/USA_PFED.txt
tickerData/USA_PPIC.txt
tickerData/USA_RFMI.txt
tickerData/USA_RSEA.txt
tickerData/USA_RSM.txt
tickerData/USA_RSY.txt
tickerData/USA_TVS.txt
tickerData/USA_UNR.txt
tickerData/USA_WINV.txt
